.movie_cover {
    width: 100%;
    height: auto;
    box-shadow: 0 0 0 1px #ced4da;
    outline: 0;
    border-radius: 5%;
}

.item {
    width: 300px;
    margin: 0 20px;
}

.container {
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-content: flex-start;
    align-items: flex-start;
}