@page "/Login"
@using cinima_mgr.Data
@using Microsoft.EntityFrameworkCore
@layout EmptyLayout
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService Storage

<PageTitle>登录</PageTitle>

<h1>Login Page</h1>
<p>用户名:<input @bind="_user"/></p>
<p>密码:<input @bind="_pwd" type="password"/></p>
<p>@_msg</p>
<p><button class="btn btn-primary" @onclick="LoginEvent">登录</button><NavLink href="/Register">注册</NavLink></p>

@code {
    private string _user = "", _pwd = "";
    private string _msg = "";

    async void LoginEvent()
    {
        var db = new MgrContext();
        var user = await db.Users.Where(u => u.Name == _user && u.Password == _pwd).FirstOrDefaultAsync();
        if (user is null)
        {
            _msg = "user or password incorrect";
            return;
        }
        var id = Guid.NewGuid().ToString();
        db.Sessions.Add(new SessionState
        {
            Id = id,
            User = user
        });
        await Storage.SetItemAsStringAsync("id", id);
        await db.SaveChangesAsync();
        NavigationManager.NavigateTo("/");
    }
}