@page "/Login/{CallBack?}"
@using cinima_mgr.Data
@using Microsoft.EntityFrameworkCore
@using System.Text
@layout EmptyLayout
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService Storage

<PageTitle>登录</PageTitle>

<h1 style="margin-bottom: 20px; margin-top: 20px">登录</h1>
<p style="display: grid; grid-gap: 10px; grid-template-rows: 1fr 1fr; grid-template-columns: 1fr 4fr; max-width: 300px; width: 80%">
    <label>用户名:</label><input class="form-control" @bind="_user"/>
    <label>密码:</label><input class="form-control" @bind="_pwd" type="password"/>
</p>
<MsgBox Msg="@_msg"/>
<p>
    <button class="btn btn-primary" @onclick="LoginEvent">登录</button>
    <NavLink href=@($"/Register/{CallBack}") class="btn btn-secondary">注册</NavLink>
</p>

@code {
    private string _user = "", _pwd = "";
    private string _msg = "";
    
    [Parameter]
    public string? CallBack { get; set; }

    async void LoginEvent()
    {
        var db = new MgrContext();
        var user = await db.Users.Where(u => u.Name == _user && u.Password == _pwd).FirstOrDefaultAsync();
        if (user is null )
        {
            _msg = "phone number or password incorrect";
            return;
        }                
        var id = Guid.NewGuid().ToString();
        db.Sessions.Add(new SessionState
        {
            Id = id,
            User = user
        });
        await Storage.SetItemAsStringAsync("id", id);
        await db.SaveChangesAsync();
        var callback = CallBack is null ? "/" : 
            Encoding.Default.GetString(Convert.FromBase64String(CallBack));
        NavigationManager.NavigateTo(callback);
    }
}
