@page "/MgrDiscounts"
@using cinima_mgr.Data
@using cinima_mgr.Service
@using Microsoft.EntityFrameworkCore
@inject StateCache StateCache
@inject NavigationManager NavigationManager

<PageTitle>管理优惠券</PageTitle>

<p>
    <span class="px-3"><input type="number" @bind="_rate" max="10" min="0" step="0.1"/> 折</span>
    <span class="px-3"><label>名称:</label><input @bind="_name"></span>
    <span class="px-3"><button class="btn btn-primary" @onclick="AddDiscounts">添加！</button></span>
</p>

<p>@_msg</p>

<ul>
@foreach (var u in _users)
{
    <li>
        <span class="px-3"><input type="checkbox" @bind="_dic[u.Name]"/></span>
        <span class="px-3">@u.Name</span>
        <span class="px-3">@(u.VIPExpireTime >= DateTime.Now ? "会员" : "非会员")</span>
    </li>
}
</ul>

@code {
    List<User> _users = new();
    HashSet<string> _selected = new();
    Dictionary<string, bool> _dic = new();
    string _name = "", _msg = "";
    double _rate = 10;
    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        
        if (StateCache.User is null || !StateCache.User.IsMgr)
        {
            NavigationManager.NavigateTo("");
            return;
        }
        await using var db = new MgrContext();
        _users = await db.Users.ToListAsync();
        foreach (var u in _users)
        {
            _dic[u.Name] = false;
        }
    }

    async Task AddDiscounts()
    {
        await using var db = new MgrContext();
        var us = _dic.Where(p => p.Value).Select(p => 
            db.Users.SingleAsync(u => u.Name == p.Key)).ToList();
        foreach (var u in us)
        {
            var au = await u;
            db.DiscountTickets.Add(new DiscountTicket
            {
                Id = Guid.NewGuid().ToString(),
                Rate = _rate,
                Name = _name,
                User = au
            });
            _dic[au.Name] = false;
        }
        await db.SaveChangesAsync();
        _msg = "添加完成";
    }
}