@page "/Movie/Info/{Id:guid}"
@using cinima_mgr.Data
@using Microsoft.EntityFrameworkCore
@inject NavigationManager NavigationManager

@if(found) {
    @if (_movie is null)
    {
        <p>加载中...</p>
    } 
    else
    {
        <div class="movie-info-container">
            <img class="movie-cover" src=@($"/Movie/Cover/{Id}")/>
            <div class="movie-detail-container">
                <p><b>@_movie.Name</b></p>
                <p>@_movie.Type</p>
                <p>时长: @_movie.Duration.Minutes 分钟</p>
                <p>@_movie.Introduction</p>
            </div>
        </div>
    }
}
else
{
    <p>不存在该电影</p>
}


@code {
    [Parameter]
    public Guid Id { get; set; }

    Movie? _movie;
    bool found = true;

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        var db = new MgrContext();
        _movie = await db.Movies.SingleAsync(m => m.Id == Id.ToString());
        if (_movie is null) found = false;  // NavigationManager.NavigateTo("/404");
        else
        {
            await db.Entry(_movie).Collection(m => m.Comments).LoadAsync();
        }
    }
}