.item-container {
    display: grid;
    grid-template-columns: 200px 1fr;
    grid-gap: 3rem;
    padding: 2rem 0;
}

.sider-item {
    display: flex;
    flex-direction: column;
}

.info-item {
    display: flex;
    padding: 1rem 0;
    border-top: lightgray solid;
    justify-content: space-between; 
    align-items: center;
    margin-left: 19px;
}

.info-item:first-child {
    border-top: 0;
}

.movie-cover {
    width: 150px;
    height: auto;
    box-shadow: 0 0 0 1px #ced4da;
    outline: 0;
    border-radius: 12px;
    transition: box-shadow .15s ease-in-out;
}

@media (max-width: 550px) {
    .it-container {
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
    }
    .info-item:first-child {
        border-top: lightgray solid;
    }
}

@media (min-width: 641px) and (max-width: 800px) {
    .item-container {
        display: flex;
        flex-direction: column;
        grid-gap: 1rem;
    }
    .info-item:first-child {
        border-top: lightgray solid;
    }
}