@page "/OrderConfirm"
@using cinima_mgr.Data
@inject NavigationManager NavigationManager

<h3>确认订单信息</h3>

<button @onclick="Payment" > 立即付款 </button>

<Alipay Enable= />

@code {

    async Task Payment()
    {
        // NavigationManager.NavigateTo($"//{}");NavigationManager.NavigateTo($"//{}");
    }
}