@page "/pay_success"
@using cinima_mgr.Ali;
@using Aop.Api.Request;
<h3>Pay_Success</h3>

@code {
    /*private MarkupString convertedMarkdown;
    protected override void OnParametersSet()
    {
        Dictionary<string, string> sArray = GetRequestGet();
        if (sArray.Count != 0)
        {
            bool flag = AlipaySignature.RSACheckV1(sArray, config.alipay_public_key, config.charset, config.sign_type, false);
            if (flag)
            {
                Response.Write("同步验证通过");
            }
            else
            {
                Response.Write("同步验证失败");
            }
        }
    }
    public Dictionary<string, string> GetRequestGet()
    {
        int i = 0;
        Dictionary<string, string> sArray = new Dictionary<string, string>();
        System.Collections.Specialized.NameValueCollection coll;
        //coll = Request.Form;
        
        coll = Request.QueryString;
        String[] requestItem = coll.AllKeys;
        for (i = 0; i < requestItem.Length; i++)
        {
            sArray.Add(requestItem[i], Request.QueryString[requestItem[i]]);
        }
        return sArray;

    }*/
}