.movie_cover {
    width: 100%;
    height: auto;
}

.item {
    width: 100px;
    margin: 15px;
    padding: 15px;
}

.selected-item {
    border: black solid 2px;
}

.selector {
    width: auto;
    display: inline;
}

.movie-selector {
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    flex-direction: row;
    justify-content: flex-start;
    align-content: flex-start;
    align-items: flex-start;
}