@page "/Register"
@using cinima_mgr.Data
@using Microsoft.EntityFrameworkCore
@layout EmptyLayout
@inject NavigationManager NavigationManager
@inject Blazored.LocalStorage.ILocalStorageService Storage

<PageTitle>注册</PageTitle>

<h1 style="margin-bottom: 20px; margin-top: 20px">注册</h1>
<div style="display: grid; grid-gap: 10px; grid-template-rows: 1fr 1fr; grid-template-columns: 1fr 4fr; max-width: 300px; width: 80%">
    <label>用户名:</label><input @bind="_user"/>
    <label>密码:</label><input @bind="_pwd" type="password"/>
</div>
<p>@_msg</p>
<p><button class="btn btn-primary" @onclick="RegisterEvent">注册</button></p>

@code {
    private string _user = "", _pwd = "";
    private string _msg = "";
    
    async void RegisterEvent()
    {
        var db = new MgrContext();
        var user = await db.Users.Where(u => u.Name == _user).FirstOrDefaultAsync();
        if (user is not null)
        {
            _msg = "username is occupied";
            return;
        }
        var newUser = new User
        {
            Name = _user,
            Password = _pwd
        };
        db.Add(newUser);
        var id = Guid.NewGuid().ToString();
        db.Sessions.Add(new SessionState
        {
            Id = id,
            User = newUser
        });
        await Storage.SetItemAsStringAsync("id", id);
        await db.SaveChangesAsync();
        NavigationManager.NavigateTo("/");
    }
}