@using cinima_mgr.Data
@using Microsoft.EntityFrameworkCore
@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService Storage

<PageTitle>奇妙影院</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            @if (username is null)
            {
                <NavLink href="Login">Login</NavLink>
                <NavLink href="Register">Register</NavLink>
            }
            else
            {
                @username
                <a @onclick="LogoutEvent" href="#">Logout</a>
            }
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    string? username;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (username is not null) return;
        var id = await Storage.GetItemAsStringAsync("id");
        if (id is null) return;
        var db = new MgrContext();
        var session = await db.Sessions.Where(s => s.Id == id).FirstOrDefaultAsync();
        if (session is null) return;
        username = session.User;
        StateHasChanged();
    }

    async Task LogoutEvent()
    {
        var id = await Storage.GetItemAsStringAsync("id");
        if (id is null) return;
        await Storage.RemoveItemAsync("id");
        var db = new MgrContext();
        var session = await db.Sessions.Where(s => s.Id == id).FirstOrDefaultAsync();
        if (session is null) return;
        db.Remove(session);
        username = null;
    }
}
