@using cinima_mgr.Data
@using cinima_mgr.Service
@using Microsoft.EntityFrameworkCore
@inherits LayoutComponentBase
@inject Blazored.LocalStorage.ILocalStorageService Storage
@inject StateCache StateCache
@inject NavigationManager NavigationManager
@using Blazorise

<PageTitle>喵票票</PageTitle>

@if (_loading)
{
    <div style="position: fixed; top:  50%; left: 50%; transform: translate(-50%, -50%)" class="container-center">
        <h1>加载中...</h1>
        <div style="width: 100%"><Progress Animated Striped Value="100"></Progress></div>
    </div>
}
else
{
<div class="page">
    <div class="sidebar">
        <NavMenu Logined="_user is not null" IsMgr="_user is not null && _user.IsMgr"/>
    </div>

    <main>
        <div class="top-row px-4">
            @if (_user is null)
            {
                <NavLink class="nav" href="/Login">
                    <button class="btn btn-primary">登录</button>
                </NavLink>
                <NavLink class="nav" href="/Register">
                    <button class="btn">注册</button>
                </NavLink>
            }
            else
            {
                <span class="px-2">
                            <NavLink class="nav" href="/VIP">
                        @if (StateCache.User.VIPExpireTime < DateTime.Now)
                        {
                            @("充值 VIP")
                        }
                        else
                        {
                            @($"VIP 还剩 {(StateCache.User.VIPExpireTime - DateTime.Now).Days} 天")
                        }
                    </NavLink>
                </span>
                <span class="px-2"><b>@_user.Name</b></span>
                <span class="px-2">
                    <button class="btn" style="margin: 0" @onclick="LogoutEvent">登出</button>
                </span>
                
            }
        </div>

        <article class="">
            @Body
        </article>
    </main>
</div>
}

@code
{
    bool _loading = true;
    User? _user;
    
    async Task LoadUser() 
    {
        var id = await Storage.GetItemAsStringAsync("id");
        if (id is null)
        {
            if (!_loading) return;
            _loading = false;
            await InvokeAsync(StateHasChanged);
            return;
        }
        await using var db = new MgrContext();
        var session = await db.Sessions.Where(s => s.Id == id)
            .Include(s => s.User).FirstOrDefaultAsync();
        if (session is null)
        {
            if (!_loading) return;
            _loading = false;
            await InvokeAsync(StateHasChanged);
            return;
        }
        session.UpdateTime = DateTime.Now;
        await db.SaveChangesAsync();
        _user = session.User;
        StateCache.User = session.User;
        _loading = false;
        await InvokeAsync(StateHasChanged);
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();
        NavigationManager.LocationChanged += (sender, args) => InvokeAsync(LoadUser);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        await base.OnAfterRenderAsync(firstRender);
        if (_user is not null)
        {
            if (!_loading) return;
            _loading = false;
            await InvokeAsync(StateHasChanged);
            return;
        }
        await LoadUser();
    // NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }

    async Task LogoutEvent()
    {
        var id = await Storage.GetItemAsStringAsync("id");
        if (id is null) return;
        await Storage.RemoveItemAsync("id");
        await using var db = new MgrContext();
        var session = await db.Sessions.Where(s => s.Id == id).FirstOrDefaultAsync();
        if (session is null) return;
        db.Remove(session);
        await db.SaveChangesAsync();
        StateCache.User = null;
        _user = null;
        // await InvokeAsync(StateHasChanged);
        NavigationManager.NavigateTo(NavigationManager.Uri, true);
    }
}
