@using cinima_mgr.Data

<div class="movie-selector">
    @foreach (var m in Movies)
    {
        <div class="item">
            <p>
                <img class=@("movie_cover" + (m.Id == Movie?.Id ? " selected-item" : ""))
                     src=@($"/Movie/Cover/{m.Id}") 
                     alt=@m.Name @onclick="() => MovieChanged.InvokeAsync(m)"/>
            </p>
            <div>
                <div>
                    <b>@m.Name</b>
                </div>
                @if (ShowRelease)
                {
                    <div>
                        <small class="text-secondary">(@(m.ReleaseDate.ToString("yyyy-M-d")))</small>
                    </div>
                }
                <div>
                    <small class="text-secondary">
                        @if (m.Duration == TimeSpan.Zero)
                        {
                            <span>时长未知</span>
                        }
                        else
                        {
                            <span>@m.Duration.TotalMinutes 分钟</span>
                        }
                    </small>
                </div>
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public List<Movie> Movies { get; set; } = new();
    [Parameter]
    public Movie? Movie { get; set; }
    [Parameter]
    public EventCallback<Movie?> MovieChanged { get; set; }

    [Parameter]
    public bool ShowRelease { get; set; } = false;

}