@using cinima_mgr.Data

<div class="movie-selector">
    @foreach (var m in Movies)
    {
        <div class="item">
            <p>
                <img class=@("movie_cover" + (m.Id == Movie?.Id ? " selected-item" : ""))
                     src=@($"/Movie/Cover/{m.Id}") 
                     alt=@m.Name @onclick="() => MovieChanged.InvokeAsync(m)"/>
            </p>
            <div>
                <div>@m.Name</div>
                <div><small>时长: @m.Duration.TotalMinutes 分钟</small></div>
            </div>
        </div>
    }
</div>

@code {

    [Parameter]
    public List<Movie> Movies { get; set; } = new();
    [Parameter]
    public Movie? Movie { get; set; }
    [Parameter]
    public EventCallback<Movie?> MovieChanged { get; set; }
    
}