@using Markdig

<Popout Enable="_msgbox" EnableChanged="EnableChanged">
    <div style="display: flex; flex-direction: column; align-items: center">
        <span style="margin: 1rem 3rem">@Msg</span>
        <button class="btn btn-primary" @onclick="() => EnableChanged(false)">关闭</button>
    </div>
</Popout>

@code {
    bool _msgbox;
    MarkdownPipeline _pipeline = new MarkdownPipelineBuilder()
        .UseSoftlineBreakAsHardlineBreak()
        .UseAutoLinks()
        .UseEmojiAndSmiley()
        .Build();
    [Parameter]
    public string Msg { get; set; } = "";
    [Parameter]
    public EventCallback OnClosed { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
        if (Msg != "") _msgbox = true;
    }

    void EnableChanged(bool e)
    {
        _msgbox = e;
        if (e == false) OnClosed.InvokeAsync();
    }

}