.sitpicker-container {
    display: grid;
    grid-gap: 5px;
}

.midline {
    background:
            linear-gradient(90deg, transparent 49.75%, lightgray 49.75%, lightgray 50.25%, transparent 50.25%);
}

.sit-d {
    border: gray dashed 2px;
}

.sit {
    padding-bottom: calc(100% - 4px);
    height: 0;
    width: 100%;
    border-radius: 30%;
}

.sit-0, .sit-1, .sit-2, .sit-3 {
    border: grey solid 2px;
}

.sit-1 {
    background-color: lightcoral;
}

.sit-2 {
    background-color: skyblue;
}

.sit-3 {
    background-color: lightgreen;
}